// Body
$body-bg: #f5f8fa;
$border-radius-base: 0;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$main-color: #35366a;
$second-color: #585ba9;
$grad-1-color: #424383;
$link-color: #eeeeee;
$hover-color: #0d8ff3;
$footer-text-color: #c6c8fd;

$brand-primary: $second-color;
$brand-info: #82A5B2;
$brand-success: #678294;
$brand-warning: #7576A1;
$brand-danger: #826F9D;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #4d4d4d;

// Navbar
$navbar-default-bg: #fff;
$navbar-inverse-bg: $main-color;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Links
$link-color: $second-color;
$link-color-inverse: #eeeeee;
$link-hover-color: $hover-color;
